*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  font-family: "Inter", sans-serif;
  background: #FAFAFA;

}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.container{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
